<!-- <h1 class="text-center">The cocktails:</h1> -->


<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card text-center">

          <% if cocktail.photo %>
            <div class="card-header" style="background-image: url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
            </div>
          <% else %>
            <div class="card-header" style="background-image: url('<%= cl_image_path("non_existing_id.png", :default_image => "my_default_image.png") %>')">
            </div>
          <% end %>
          <div class="card-body">
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
