
.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
}

.card-header{
  height: 160px;
  background-size: cover !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.card-body {
  background-color: #D23333;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}


